.compressionSite-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
    gap: 24px;
    background: #FEFBFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.compressionSite-content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    height: 282px;
    width: 100%;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compressionSite-content-main-img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 78.64px;
    gap: 24px;

    width: 100%;
    height: 82px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compressionSite-content-main-img-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    width: 96px;
    height: 48px;
    font-family: 'Microsoft YaHei';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;

    /* material-theme/ref/secondary/secondary50 */

    color: #73768B;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compressionSite-content-main-img-site {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;


    height: 82px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.compressionSite-content-main-img-site-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;


    height: 48px;

    background: #DDE1FF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.compressionSite-content-main-img-site-foot {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 8px;


    height: 34px;

    border-radius: 8px;
    font-family: 'Microsoft YaHei';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;

    /* material-theme/sys/light/on-secondary-container */

    color: #141A33;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}



.compressionSite-foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;


    height: 44px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

.compressionSite-foot-canel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 32px;
    gap: 8px;

    width: 96px;
    height: 44px;

    /* material-theme/sys/light/outline
    
    token=md.sys.color.outline
    */
    border: 1px solid #767680;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.compressionSite-foot-save {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 128px;
    height: 44px;
    background: #3452CE;
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}