.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;

  width: 53.3125rem;
  height: 4.375rem;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.title p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 5rem;
  height: 3.625rem;
  font-size: 1.5rem;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.login-form > p {
  height: 2.4375rem;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding-bottom: 0.5rem;
}
.login-form .login-input {
  box-sizing: border-box;

  /* 自动布局 */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 4rem;
  border-radius: 0.5rem;
}
.login-form .extra-option {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  padding: 0rem;
  gap: 26.125rem;

  width: 37.5rem;
  height: 2.4375rem;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.login-form .extra-option NaNpxember {
  /* float: left; */
  flex: none;
  order: 0;
  flex-grow: 1;
}
.login-form .extra-option .forget {
  align-self: flex-end;
  /* display: flex; */
  /* flex-direction: row;
  align-items: flex-start;
  padding: .5rem;
  gap: .5rem;

  width: 5.6875rem;
  height: 2.4375rem;
  flex: none;
  order: 1;
  flex-grow: 1; */
}
.login-form .login-button {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
  gap: 0.5rem;

  width: 14.375rem;
  height: 3.375rem;

  background: #e2e1ec;
  color: #45464f;
  font-size: 1rem;
  border-radius: 0.5rem;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.login-form .login-button:hover {
  background: #3452ce;
  color: #ffffff;
}
