.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fefbff;
}
.sidebar {
  /* 侧边栏 */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  gap: 80px;

  width: 640px;

  background: #6e88ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.app-intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 24px;

  width: 336px;
  height: 92px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.app-intro .app-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;

  width: 76px;
  height: 76px;
  background: #ffffff;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.app-intro .app-name {
  width: 220px;
  height: 46px;

  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 100px;
  gap: 40px;

  /* width: 917px;
  height: 975px; */

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
