.main1 {
    /* 自动布局 */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
}

.side {
    /* 侧边栏 */


    /* 自动布局 */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 48px;
    gap: 80px;
    width: 96px;
    height: 975px;
    background: #FEFBFF;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.right {
    /* Frame 97 */

    /* 自动布局 */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    /* Inside auto layout */
    width: 100rem;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.top {
    /* 顶栏 */


    /* 自动布局 */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    gap: 100px;
    background: #FEFBFF;
    height: 80px;
    /* Inside auto layout */

    flex: none;
    align-self: stretch;
    flex-grow: 1;

}

.content1 {
    /* 内容区域 */
    /* 自动布局 */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px 24px 16px;
    gap: 16px;
    height: 895px;
    background: #FEFBFF;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.logo {
    /* Frame 37991 */


    /* 自动布局 */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;

    width: 56px;
    height: 75.51px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.bar {
    /* 侧边栏 */


    /* 自动布局 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 64px;
    height: 352px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.item {

    /* 自动布局 */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 28px;
    gap: 6px;

    width: 64px;
    height: 64px;
    border-radius: 12px;
    cursor: pointer;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}


.topName {
    /* 自动布局 */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 4px;
    gap: 8px;

    width: 123px;
    height: 80px;
    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.topName-content {
    /* Bucket */


    width: 107px;
    height: 38px;

    font-family: 'HarmonyOS Sans SC';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* identical to box height */

    display: flex;
    align-items: center;

    /* material-theme/sys/light/on-background */

    color: #1B1B1F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.top-input {
    /* Frame 55 */


    /* 自动布局 */

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    height: 56px;
    font-size: 19px;
    min-width: 200px;
    border-radius: 8px;
    /* Inside auto layout */
}

.top-right {



    /* 自动布局 */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 450px;
    height: 56px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    gap: 8px;
    color: #fff;
    width: 128px;
    height: 56px;
    background: #3452CE;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.admin {
    /* Frame 54 */


    box-sizing: border-box;

    /* 自动布局 */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 90px;
    height: 56px;


    border: 2px solid #3452CE;
    border-radius: 8px;
    font-weight: 400;
    font-size: 20px;
    color: #3452CE;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.logout {

    box-sizing: border-box;

    /* 自动布局 */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;

    width: 128px;
    height: 56px;

    border: 2px solid #3452CE;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    color: #3452CE;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

.img-logo {
    width: 56px;
    height: 56px;

    background: #DDE1FF;
    border-radius: 121px;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}