.main1 {
  /* 自动布局 */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
}

li {
  list-style: none;
}

.side {
  /* 侧边栏 */
  /* 自动布局 */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 48px;
  gap: 80px;
  width: 96px;
  background: #fefbff;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.right {
  /* Frame 97 */

  /* 自动布局 */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 700px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.top {
  /* 顶栏 */

  /* 自动布局 */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 32px;
  gap: 100px;
  background: #fefbff;
  height: 80px;
  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.content1 {
  /* 内容区域 */
  /* 自动布局 */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 24px 24px 16px;
  gap: 16px;
  background: #fefbff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.logo {
  /* Frame 37991 */

  /* 自动布局 */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;

  width: 56px;
  height: 75.51px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.bar {
  /* 侧边栏 */

  /* 自动布局 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 64px;
  height: 352px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.item {
  /* 自动布局 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 28px;
  gap: 6px;
  /* transition: 2s; */
  width: 64px;
  height: 64px;
  border-radius: 12px;
  cursor: pointer;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.item :hover {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: 0.5s;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.side .bar .button-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #3452ce;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;

  -webkit-animation: flip 1s;
  animation: flip 1s forwards;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }

  100% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

@keyframes flip {
  0% {
    -webkit-transform: translateY(-100%) rotateX(-180deg);
    transform: translateY(-100%) rotateX(-180deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }

  100% {
    -webkit-transform: translateY(0) rotateX(0);
    transform: translateY(0) rotateX(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

.topName {
  /* 自动布局 */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 4px;
  gap: 8px;

  width: 144px;
  height: 80px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.topName-content {
  width: 107px;
  height: 38px;

  font-family: "HarmonyOS Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  display: flex;
  align-items: center;
  color: #1b1b1f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.top-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 24px;
  height: 56px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.upload {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 160px;
  height: 56px;
  padding: 4px 32px;
  background: #3452ce;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
}
.upload svg {
  font-size: 24px;
}

.img-logo {
  width: 56px;
  height: 56px;

  background: #dde1ff;
  border-radius: 121px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
