.bucket-content-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.bucket-content-detail-content {
    /* 自动布局 */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 16px;
    gap: 8px;



    background: #F4F5FB;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}