.list-item {
  display: flex;
  margin: 10px 0;
  gap: 39px;
}
.list-item .list-item-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  height: 72px;
  width: 10vw;
  overflow: hidden;
  gap: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.list-item .list-item-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  height: 72px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.list-item .list-item-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;
  height: 72px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.uploading {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  height: 20px;
  color: #3452ce;
  border: 1px solid #3452ce;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.exception {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  height: 20px;
  border: 1px solid #ba1a1a;
  color: #ba1a1a;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.complete {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  gap: 8px;
  height: 20px;
  color: #34bcce;
  border: 1px solid #34bcce;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.list-item-right img {
  cursor: pointer;
}
