.bucket-side {
  /* 二级侧边栏 */

  /* 自动布局 */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 16px;
  width: 251px;

  background: #f4f5fb;
  /* Drop Shadow */

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.bucket-side .bucket-search {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px 0;
  padding: 12px 16px;
  gap: 4px;
  font-size: 14px;
  color: #767680;
  border: 1px solid #767680;
  width: 219px;
  height: 44px;
  border-radius: 8px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.bucket-side .bucket-search .search-svg {
  font-size: 24px;
}

.bucket-operating {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
  margin-bottom: 8px;
  width: 219px;
  height: 44px;
}

.bucket-operating .bucket-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #f0efff;
  color: #c8c6ca;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
}

.bucket-operating .bucket-delete:hover {
  background: #ba1a1a;
  color: #fff;
}

.bucket-operating .bucket-create {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  width: 162px;
  height: 44px;
  background: #3452ce;
  color: #ffffff;
  border-radius: 8px;
}

.bucket-operating .bucket-create:hover {
  background-color: #e5e6f9;
}

.bucket-table table {
  width: 219px;
  background-color: #f4f5fb;
}

.bucket-table table>thead {
  font-size: 16px;
  margin-bottom: 16px;
}

.bucket-table table>thead>tr>th {
  background-color: #f4f5fb !important;
  font-weight: 400;
}

.bucket-table .bucket-table-column {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 12px;
  gap: 26px;
  height: 52px;

  border-radius: 8px;
}

.bucket-side .ant-table-wrapper .ant-table-tbody>tr.ant-table-row:hover>td {
  background: #dde1ff;
}

.bucket-content {
  /* Frame 107 */


  /* 自动布局 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;



  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.bucket-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;



  background: #F4F5FB;
  ;
  /* Drop Shadow */

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.bucket-mid {
  /* 访问域名 */


  /* 自动布局 */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;




  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.bucket-mid-content {
  /* Frame 89 */


  /* 自动布局 */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  gap: 16px;




  background: #F4F5FB;
  ;
  /* Drop Shadow */

  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.bucket-site {
  /* 基础设置 */


  /* 自动布局 */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;




  background: #F4F5FB;
  ;
  /* Drop Shadow */

  box-shadow: 0px 0px 18px -20px rgba(234, 234, 234, 0.8);
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 1;
}