.bucket-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.bucket-content .bucket-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  width: 128px;
  height: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bucket-content .bucket-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 32px;

  height: 304px;

  background: #f4f5fb;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.bucket-content .bucket-data .bucket-data-bucket-name {
  width: 172px;
  height: 32px;

  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* material-theme/ref/secondary/secondary50 */

  color: #73768b;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bucket-content .bucket-data .bucket-data-manage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 32px;
  gap: 8px;

  /* width: 156px; */
  height: 44px;

  background: #3452ce;
  color: #fff;

  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.bucket-content .bucket-data .bucket-data-manage:hover {
  background-color: #e5e6f9;
  color: black;
}
.bucket-content .bucket-data .bucket-data-card-box {
  gap: 1rem;
}
.bucket-content .bucket-data .bucket-data-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 32px 32px 16px;
  gap: 8px;

  /* width: 257.25px; */
  height: 180px;
  background: #fefbff;
  border-radius: 16px;
  flex-grow: 1;
}
.bucket-content .bucket-data .bucket-data-card .bucket-data-card-title {
  height: 32px;
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #73768b;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.bucket-content .bucket-data .bucket-data-card .bucket-data-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 113px;
  height: 84px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bucket-content
  .bucket-data
  .bucket-data-card
  .bucket-data-card-content
  .bucket-data-number {
  width: 38px;
  height: 84px;

  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;

  color: #1b1b1f;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bucket-content
  .bucket-data
  .bucket-data-card
  .bucket-data-card-content
  .bucket-data-unit {
  width: 51px;
  height: 32px;

  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  /* material-theme/ref/secondary/secondary50 */

  color: #73768b;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bucket-content .bucket-content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 16px;
  gap: 16px;

  height: 44px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.bucket-content .bucket-content-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  height: 180px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.bucket-content .bucket-mid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 16px;
  gap: 8px;

  height: 315px;

  background: #f4f5fb;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.bucket-content .bucket-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  gap: 8px;
  height: 288px;

  background: #f4f5fb;
  border-radius: 16px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
